* {
    box-sizing: border-box;
}

.navbar {
    background-color: #721888FF;
    height: 60px;
    position: absolute;
    width: 100%;
}

.logo {
    height: 60px;
    position: absolute;
    border-radius: 4px;
}

.dashboard {
    position: absolute;
    left: 70px;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    color: white;
    height: 40px;
    width: 140px;
    font-family: 'Source Sans Pro', sans-serif;
    border-width: 0.0001px;
}

a {
    color: white;
    text-decoration: none;
    border-width: 0.0001px;
    ;
    border-color: white;
    border-radius: 2px;
    border: transparent;
    padding: 10px;
}

a:link,
a:visited {
    color: white;
    text-decoration: none;
    border-width: 0.0001px;
    ;
    border-color: white;
    border-radius: 2px;
    border: transparent;
    padding: 10px;
}

a:hover {
    border-width: 0.2px;
    border-color: white;
    border-radius: 2px;
    border: thin;
    padding: 10px;
    opacity: 0.7;
}

.logout {
    position: absolute;
    right: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: white;
    color: #721888FF;
    top: 9px;
    bottom: auto;
    border-radius: 3px;
    padding: 10px 20px 10px 20px;
    font-size: 12px;
    font-weight: bold;
    /*top:;*/
}