body {
    font-family: sans-serif;
}

header>div {
    display: inline-block;
}

header div:nth-child(1) {
    width: 17%;
}

header div:nth-child(2) {
    width: 62%;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

header div:nth-child(3) {
    width: 17%;
    text-align: right;
    font-size: 13px;
    /*font-weight: bold;*/
}

header img {
    width: 90px;
    height: 81px;
    object-fit: fill;
}

hr {
    background-color: #000000;
    height: 1px;
}

.maintitle {
    background-color: #C0C0C0;
    font-size: 16px;
    padding: 2px;
    font-weight: bold;
}

.title {
    margin-top: 2px;
    width: 70%;
    float: left;
    font-size: 14px;
    font-weight: bold;
}

.date {
    margin-top: 2px;
    width: 30%;
    float: right;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
}

.decsription {
    text-align: justify;
    font-size: 12px;
    padding-left: 10px;
    /*float: left;*/
}

.btn {
    margin-left: 45%;
    background-color: seagreen;
    border-radius: 5px;
    color: white;
    padding: 5px;
}