{% extends 'base.html' %} {% block content %}

<div class="hello">
    <h2>Hello, {{request.user}}</h2>
</div>
<div id="login-box" class="container">
    <div class="but row">
        <div class="dashboardheader">Choose the Resume you want to Print</div>
    </div>
    {% for r in resumes %}
    <div class="container">
        <ul>
            <div class="row">
                <div class="resume_name">{{r.profile_name}}</div>
                <a href="{% url 'choose_template' r.id %}" class="edit">
                    <div class="symbols"><i class="material-icons" data-toggle="tooltip" title="edit">&#xe8dc;</i></div>
                </a>
            </div>
        </ul>
    </div>
    {% endfor %}
</div>
{% endblock %}