{% extends 'base.html' %} {% block content %}


<div class="hello">
    <h2>Hello, {{request.user}}</h2>
</div>
<div id="login-box" class="container">
    <div class="but row">
        <div class="dashboardheader">Choose Any Of Your Desired Templates</div>
    </div>
    <ul>
        <li>IIT KGP Template
            <a href="{% url 'view_template1' id %}" class="edit"><i class="material-icons" data-toggle="tooltip" title="edit">&#xe865;</i></a>
        </li>
        <li>IIT Bombay Template
            <a href="{% url 'view_template2' id %}" class="edit"><i class="material-icons" data-toggle="tooltip" title="edit">&#xe865;</i></a>
        </li>
        <li>IIT Delhi Template
            <a href="{% url 'view_template3' id %}" class="edit"><i class="material-icons" data-toggle="tooltip" title="edit">&#xe865;</i></a>
        </li>
    </ul>
    {% endblock %}