{% extends 'base.html' %} {% block content %}


<div class="hello">
    <h2>Hello, {{request.user}}</h2>
</div>
<div id="login-box" class="container">
    <div class="but row">
        <div class="dashboardheader">Choose Any Of Your Desired Templates</div>
    </div>
    <div class="container">
        <ul>
            <div class="row">
                <div class="resume_name">IIT KGP Template</div>
                <a href="{% url 'view_template1' id %}" class="edit">
                    <div class="symbols"><i class="material-icons" data-toggle="tooltip" title="edit">&#xe865;</i></div>
                </a>
            </div>
        </ul>
        <ul>
            <div class="row">
                <div class="resume_name">IIT Bombay Template</div>
                <a href="{% url 'view_template2' id %}" class="edit">
                    <div class="symbols"><i class="material-icons" data-toggle="tooltip" title="edit">&#xe865;</i></div>
                </a>
            </div>
        </ul>
        <ul>
            <div class="row">
                <div class="resume_name">IIT Delhi Template</div>
                <a href="{% url 'view_template3' id %}" class="edit">
                    <div class="symbols"><i class="material-icons" data-toggle="tooltip" title="edit">&#xe865;</i></div>
                </a>
            </div>
        </ul>
    </div>
    {% endblock %}