{% extends 'base.html' %} {% block content %}

<div class="hello">
    <h2>Hello, {{request.user}}</h2>
</div>
<div id="login-box" class="container">
    <div class="but row">
        <div class="dashboardheader">Choose the Resume you want to Print</div>
    </div>
    {% for r in resumes %}
    <ul>
        <li>{{r.profile_name}}
            <a href="{% url 'choose_template' r.id %}" class="edit"><i class="material-icons" data-toggle="tooltip" title="edit">&#xe8dc;</i></a>
        </li>
    </ul>
    {% endfor %} {% endblock %}