{% extends 'base.html' %} {% block content %}

<style>
    h5 {
        padding-top: 200px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: bold;
    }
    
    .new {
        background-color: #F44336;
        border-radius: 5px;
        color: white;
    }
</style>

<div class="hello">
    <h5>Are you sure you want to delete "{{resume}}"?</h5>

    <form method="POST">
        {% csrf_token %}
        <a href="{% url 'resume' %}">Cancel</a>
        <input type="submit" name="Confirm" class="new">
    </form>
</div>
{% endblock %}