{% extends 'base.html' %} {% block content %}

<div class="hello">
    <h2>Hello, {{request.user}}</h2>
</div>
<div id="login-box" class="container">
    <div class="but row">
        <a href="{% url 'create_resume' %}" class="butto"><button class="button">+ Create Resume</button></a>
    </div>
    {% for r in resumes %}
    <ul>
        <li>{{r.profile_name}}
            <a href="{% url 'update_resume' r.id %}" class="edit"><i class="material-icons" data-toggle="tooltip" title="edit">&#xE254;</i></a>
            <a href="{% url 'delete_resume' r.id %}" class="delete"><i class="material-icons" data-toggle="tooltip" title="delete">&#xE872;</i></a>
        </li>
    </ul>
    {% endfor %}
    <div class="but row">
        <a href="{% url 'choose_resume' %}" class="button_print"><button class="button_print">Print Resume</button></a>
    </div>
</div>


{% endblock %}